.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  background-color: rgb(214, 235, 253);
}
