.page {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 100vh;
}

.card {
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  background-color: rgb(214, 235, 253);
}

.input-field {
    border-width: 1px;
    border-radius: 8px;
    font-size: medium;
    padding-left: 15px;
    background-color: rgb(248, 245, 245);
    margin-top: 8px;
    margin-bottom: 12px;
}

.input-label {
  font-size: large;
  padding-left: 5px;
  color: rgb(60, 60, 60);
}
